@model BookProject.Models.User

@{
    ViewBag.Title = "Create User";
}

<h2>Create User</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>First Name</label>
        @Html.TextBoxFor(m => m.UserFirstname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Last Name</label>
        @Html.TextBoxFor(m => m.UserLastname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Age</label>
        @Html.TextBoxFor(m => m.UserAge, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Speciality</label>
        @Html.TextBoxFor(m => m.UserSpeciality, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}
