@model IEnumerable<BookProject.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
<p><a href="@Url.Action("Create")" class="btn btn-success">Add New User</a></p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Speciality</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserFirstname @user.UserLastname</td>
                <td>@user.UserAge</td>
                <td>@user.UserSpeciality</td>
                <td>
                    <a href="@Url.Action("Details", new { id = user.UserId })" class="btn btn-info">Details</a>
                    <a href="@Url.Action("Edit", new { id = user.UserId })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", new { id = user.UserId })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
